@*@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Bienvenido"]</h1>
    <p>@localizer["Aprende mas"]</p>
</div>

<div>
    <h3>@ViewBag.saludo, Daniel</h3>

</div>

<button onclick="MostrarError()" >
    Mostrar error
</button>

@section Scripts{
    <script src="~/js/Utilidades.js"></script>
}
*@